@import '../../../settings/Settings';

.SelectAllButton {
  height: $sideNavigationBarCompanionWidth;
  width: 80px;
  background-color: transparent;
  transform: rotate(-90deg);
  transform-origin: 0 0;
  margin-bottom: 60px;
  user-select: none;
  cursor: pointer;
  position: absolute;
  top: 160px;
  left: 0;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;

  color: white;
  font-size: 13px;
  font-weight: normal;
  
  span {
    white-space: nowrap;
    font-size: 13px;
    font-weight: normal;
  }
  
  &:hover {
    background-color: $darkThemeFirstColor;
  }
  
  &:active {
    background-color: $darkThemeFirstColor;
  }
  
  &.active {
    background-color: $darkThemeFirstColor;
  }
}
